@import "./../../variables.scss";
@import "./../../index.scss";

.timetable /* Le tableau en lui-même */ {
  margin: auto; /* Centre le tableau */
  border: 4px outset white; /* Bordure du tableau avec effet 3D (outset) */
  border-collapse: collapse; /* Colle les bordures entre elles */
  width: 90%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  background-color: white;
}

.timetable.box {
  background-color: white;
  border-radius: 10px;
}

table {
  width: 100%;
  height: 100%;
}

th /* Les cellules d'en-tête */ {
  background-color: white;
  color: black;
  font-size: 1.1em;
  border: 1px solid rgb(168, 161, 161);
  width: 14.2%;
  text-align: center;
  border-style: none;
}

td /* Les cellules normales */ {
  border: 1px solid rgb(168, 161, 161);
  text-align: center; /* Tous les textes des cellules seront centrés*/
  padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
  height: 7%;
  border-style: none;
}

td.time {
  width: 5%;
}
