.button {
  background-color: #0e63a1;
  border-radius: 10px;
  &:hover {
    background-color: #008eca;
  }
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: white;
}
.button-small {
  width: 78px;
  height: 48px;
}
.button-medium {
  width: 156px;
  height: 48px;
}

.button-large {
  width: 195px;
  height: 60px;
}

.badge {
  background-color: #0e63a1;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: white;
  &:hover {
    background-color: #008eca;
  }
}
