:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #022ece;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

.layout {
  display: flex;
  height: 100%;
  .content {
    flex: 1;
    background-color: var(--body-color);
  }
}
