.layout {
  display: flex;

  background-color: red;
  height: 100%;
  .header {
    max-width: 300px;
    flex: 1;
    background-color: blue;
  }

  .content {
    flex: 1;
    background-color: purple;
  }
}
