@import './../../../variables.scss';

.button {
  background-color: #ffffff;
  border-radius: 10px;
  border-color: $primary-blue-color;
  transition-duration: 20ms;
  &:hover {
    background-color: $primary-blue-color;
    color: white;
    transition-duration: 20ms;
  }
  font-weight: 400;
  color: $primary-blue-color;
  overflow: hidden;
}
.button-small {
  width: 78px;
  height: 48px;
  font-size: 1em;
  line-height: 18px;
}
.button-medium {
  width: 120px;
  height: 45px;
  font-size: 1.2em;
  line-height: 24px;
}

.button-large {
  width: 195px;
  height: 60px;
  font-size: 1.5em;
  line-height: 26px;
}

.badge {
  background-color: #0e63a1;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  &:hover {
    background-color: #008eca;
  }
}
