@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300;1,500&display=swap');

.nav-text {
  display: flex;
  color: black;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 40px;
  align-items: center;
  // Find the right location for the "hover"
  &:hover {
    color: #0E63A1;
    transition-delay: 50ms;
  }
}
.nav-logo {
  margin-right: 15%;
  color: black;
  font-size: 2em;
}


.etu-logo {
  margin-top: 20px 0 40px 0;
  width: 60%;
  height: auto;
}
.header{
  max-width: 18%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #ffffff;
}