.nav-text {
  display: flex;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  align-items: center;
}
.nav-logo {
  margin-right: 20px;
  margin-left: 20px;
}
.etu-logo {
  margin-left: 20px;
}
