@import './variables.scss';
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300;1,500&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #F5F5F5;
}

#root {
  height: 100%;
}

.title {
  font-weight: 500;
  margin: 2em 0 1em 3%;
}

.subtitle {
  font-weight: 400;
  margin: 2em 2em 1em 4%;
}