$light-grey: #DBDBDA;
$dark-grey: #A4A4A2;
$primary-blue-color: #0E63A1;
$secondary-blue-grey-color: #86AFCD;
$light-text-grey: #A2A9B6;
//$gradient: linear-gradient(135deg, $primary-color 15%, $secondary-color 85%);
$etuutt-font: 'UA_Title', sans-serif;

// $buttonLength: 2px;
// $buttonRadius: 6px;
