
.overlayBox {
  position: relative;
  width: 20%;
  margin: 2em 0 0 5%;
}

.overlayBox img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.overlayFilter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 20px;
}

.overlayBox:hover .overlayFilter {
  opacity: 0.95;
}

.text {
  color: black;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; 
}

.description_overlay {
  font-size: 0.9em;
}



